/vendor/
composer.phar

.idea/
.vscode/
.DS_Store
*.swp
.env
.env.local

.phpunit.result.cache
/tests/approvals/*.received.txt

.php-cs-fixer.cache
phpstan.neon.dist

docker-compose.override.yml

*.log